html {
    background: #c0d2d4;
}

h1 {
    font-weight: 900;
    font-size: 500%;
    text-align: center;
    margin-top: 0rem;
    color: #fff;
    line-height: 0,5;
  }

  .button-container {
    display: flex;
    justify-content:space-around;
    gap: 20px;
  }
  .back-button {
    background-color: transparent;
    border: none;
    position: "absolute" ;
    top: "3px" ;
    left: "3px" ;
  }
  
  .home-button {
    background-color: transparent;
    border: none;
    width: 25px;
  }
  
  .back-button:hover {
    background-color: #585252;
    transition: 0.7s;
  }

  .container {
    min-height: 90vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content:space-between ;
    align-items: center;
  }

  footer {
    margin-top: auto;
  }
  